<h1>Welcome to our beer blog!</h1>

<h3>Recent Posts:</h3>
<ul>
  {{#each model.posts as |post|}}
    {{post-tile post=post}}
  {{/each}}
</ul>

<h4>Recent Comments:</h4>
<ul>
  {{#each model.comments as |comment|}}
    {{recent-comments comment=comment}}
  {{/each}}
</ul>

{{new-post savePost2="savePost3"}}
